# Entornos virtuales
.venv/
venv/

# Cache de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Cache de pytest
.pytest_cache/

# VSCode config
.vscode/

# Archivos de paquetes
*.egg-info/
dist/
build/

# Logs
*.log

# Coverage
.coverage
htmlcov/
